#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea.form-control {
  min-height: 150px;
}

/** 
Card Styles 
**/
.feed-list {
  h3 {
    font-size: 1.3em;
    a {
      text-decoration: none;
    }
  }
}

.feed-item-list {
  h3 {
    font-size: 1.3em;
    height: 2.6em;

    a {
      text-decoration: none;
    }
  }

  .card-wrap {
    display: inline-block;

    .card {
      overflow: hidden;

      .card-subtitle {
        font-size: 0.7rem;
      }

      .card-image {
        height: 10rem;
        border-radius: 0.25em 0.25em 0 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .card-text {
        background-color: #444;
        background-color: #444;
        padding: 0.5em;
        border-radius: 0 0 0.25em;

        small {
          display: block;
          font-size: 0.75rem;
        }
      }
    }
  }
}

/**
Size tweaks
**/

@media screen and (max-width: 1024px) {
  .feed-item-list .card-wrap {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1800px) {
  .feed-item-list .card-wrap {
    width: 32%;
  }
}

@media screen and (min-width: 1801px) {
  .feed-item-list .card-wrap {
    width: 20%;
  }
}

@media screen and (min-width: 2400px) {
  .feed-item-list .card-wrap {
    width: 15%;
  }
}
