#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea.form-control {
  min-height: 150px;
}

/** 
Card Styles 
**/
.feed-list > .card-wrap {
  display: inline-block;
}

.feed-list .card {
  overflow: hidden;
}

.feed-list .card-title {
  white-space: nowrap;
}

.feed-list .card .card-subtitle {
  text-transform: uppercase;
}

.feed-list .card .card-text small {
  display: block;
  font-size: 0.75rem;
  white-space: nowrap;
}

.feed-list small {
}

/**
Size tweaks
**/

@media screen and (max-width: 1024px) {
  .feed-list .card-wrap {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1800px) {
  .feed-list .card-wrap {
    width: 32%;
  }
}

@media screen and (min-width: 1801px) {
  .feed-list .card-wrap {
    width: 25%;
  }
}

@media screen and (min-width: 2400px) {
  .feed-list .card-wrap {
    width: 15%;
  }
}
